body{
    font-family: 'Nunito', sans-serif;
    min-height:100%;
    background: #FFF1E6;
    margin: 0;
    padding: 0;
}

.menu{
    background: #99C1DE;
    font-family: 'Nunito', sans-serif; 
    display: flex; /*Displays content in a row*/
    justify-content: space-between; /*Puts space between buttons and name*/
    align-items: center;
    margin: 0;
    height: 100px;
} 

.menu p{
    color: white;
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 17px;
    width: 300px;
    text-align: center;
} 

.menu button{
    background: #BCD4E6;
    text-align: center;
    color: white;
    font-size: 1rem;
    height: 45px;
    width: 130px;
    margin-right: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.menu button:hover{
    color: #92a4b3;
}

.menu .menu-buttons{
    background: none;
    margin-right: 15px;
    outline: none;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
    width: 100%;
}

.cards .card{
    background-color: #FFD7BA;
    box-shadow: 7px 7px 30px #FEC89A;
    height: 500px;
    width: 350px;
    border-radius: 50px;
    border: 3px solid #FEC89A;
}

.slider-wrapper{
    padding-top: 50px;
    width: 900px;
    height: 600px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto; /*Automatically resize*/
    padding-bottom: 75px;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /*Create slider affect*/
    scroll-behavior: smooth; /*Creates smooth navigation*/
    box-shadow: 0 5px 5px 10px hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
    -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider img{
    /*1 = all images are equal size, 0 = width needs, 100= takes entire container*/
    flex: 1 0 100%; 
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 20px;
    position: absolute;
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}


