html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(189, 235, 255);
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: white;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    background: #020024;
    background: linear-gradient(180deg,rgba(2, 0, 36, 1) 6%, rgba(30, 30, 148, 1) 65%, rgba(99, 175, 184, 1) 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.menu{
    font-family: 'Nunito', sans-serif; 
    display: flex; /*Displays content in a row*/
    justify-content: space-between; /*Puts space between buttons and name*/
    align-items: center;
    margin: 0;
    height: 100px;
    margin-bottom: 20px;
} 

.menu p{
    font-size: 2rem;
    font-weight: 1000;
    border-radius: 17px;
    letter-spacing: 5px;
    width: 500px;
    text-align: center;
} 

button {
    color: rgb(255, 255, 255);
    background: none;
    text-align: center;
    font-size: 1rem;
    /* height: 30px;
    width: 90px; */
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

button:hover {
    color: rgb(189, 235, 255);
}


.hero {
    margin-left: 35px;
    padding: 10px;
    text-align: left;
}

.hero h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.hero p{
    font-size: 1rem;
    margin-bottom: 1em;
}
.menu button{
    color: rgb(255, 255, 255);
    background: none;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    width: 90px;
    margin-right: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: none;
    /* border-radius: 10px; */
}

.menu button:hover{
    color: rgb(189, 235, 255);
}

.menu .menu-buttons{
    background: none;
    box-shadow: none;
    margin-right: 15px;
    outline: none;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

/*Footer*/
footer {
    margin-top: auto;
    margin-left: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
